@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green: ##14b8a6;
}

html,
body {
    @apply text-white;

    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
        url('../public/bromo.jpg');
    background-size: cover;
    background-attachment: fixed;
}
